* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: brown;
}

.cell img {
  width: 48px;
  height: 48px;
}

.black {
  background-color: lightslategray;
}

.white {
  background-color: #eed4ac;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}